@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: rgb(227, 224, 224);
    font-family: "Montserrat", sans-serif;
}

.btn:hover {
    background-color: transparent;
}

.card {
    height: 56vh;
    border: none;
}

.main {
    margin-top: 65px;
}

/* media queries */

@media (max-width:600px) {

    .main {
        margin-top: 85px;
    }

    .card {
        height: 33vh;
    }

    .form {
        position: fixed;
        top: 85px;
        margin: 0 auto;
        left: -20px;
        justify-content: center;
    }
}