@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body-color {
    background-color: rgb(219, 219, 219);
    font-family: "Montserrat", sans-serif;
}

.btn:hover {
    background-color: transparent;
}

.card {
    height: 53.5vh;
}