

.card {
  border: none;
  box-shadow: 0 8px 16px rgba(7, 6, 6, 0.2);
}

.card-header {
  min-height: 79px;
}

.text-bold {
  font-weight: bolder;
}

.main {
  margin-top: 65px;
}

#degree {
  font-size: 3.1rem;
}