@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    /* background-color: rgb(231, 225, 225); */
    font-family: 'Poppins', sans-serif;
    /* background-color: grey; */
}

main {
    overflow: hidden;
}

#container {
    background-color: rgb(13, 13, 14);
     /* background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(26, 26, 26, 0.8), rgba(29, 29, 29, 0.6)); */
}

.loader {
    width: 100px;
}

.icon {
    width: 70px;
    height: auto;
    position: relative;
    top: 50px;
    color: white;
}

.card .sun {
    display: inline-block;
    animation: spin 12s linear infinite;
}

.btn:hover {
    background-color: transparent;
}

.card {
    border: none;
    width: 260px;
}

.card-body {
    height: 260px;
}

.card-header {
    /* height: 71px; */
    /* padding: 15px 8px 15px 0; */
}

.text-bold {
    font-weight: bolder;
}

.main {
    margin-top: 65px;
}

/* media queries */

@media (max-width:600px) {

    body {
        overflow: hidden;
    }

    .main {
        margin-top: 85px;
    }

    .form {
        position: absolute;
        top: 10px;
        left: 140px;
        right: 7px;
    }
}

@media (max-width:350px) {


    .card {
        width: 90vw;
    }

    nav {
        height: 100px;
    }

    nav a {
        margin: auto;
        text-align: center;
    }

    .form {
        position: initial;
        margin: 0 auto;
        padding: 0;
    }
}